
@import url('global.css');
@import url('navbar.css');
@import url('intro.css');
@import url('biography.css');
@import url('timeline.css');
@import url('philosophy.css');
@import url('abilities.css');
@import url('quotes.css');
@import url('relationships.css');
@import url('my-connection.css');
@import url('conclusion.css');